<div class="right-pictures" id="pic-wrapper">
    <div class="column" id="col1">
        <img src="/img/tech.jpg" alt="keyboard">
        <img src="/img/code.jpg" alt="keyboard">
        <img src="/img/hand.jpg" alt="keyboard">
        <img src="/img/keyboard.jpg" alt="keyboard">

    </div>
    <div class="column" id="col2">
        <img src="/img/hand.jpg" alt="keyboard">
        <img src="/img/tech.jpg" alt="keyboard">
        <img src="/img/keyboard.jpg" alt="keyboard">
        <img src="/img/code.jpg" alt="keyboard">
    </div>
</div>
    <script src="js/picGrid.js"></script>